body {
  background-color: rgb(123, 208, 232);
}
/*06T10U23E*/
.face {
  background-color: rgb(15, 99, 173);
  height: 370px;
  border-radius: 50%;
  border: 2px solid rgb(121, 119, 119);
  width: 400px;
  position: absolute;
  left: 400px;
  top: 80px;
  z-index: 2;
}
.face div {
  background-color: white;
}
.circle {
  margin: 0px;
  height: 300px;
  width: 350px;
  border-radius: 50%;
  border: 2px solid rgb(90, 87, 87);
  position: absolute;
  left: 26px;
  bottom: 0px;
}
/*#pink{
    height: 80px;
    width:80px;
    position:absolute;
    top:80px;
    left:20px;
    border-radius: 60%;
    background-color: rgb(250, 156, 187);
    box-shadow: 20px 50px 30px rgb(250, 156, 187); ;
}
.eye>#pink{
    position: absolute;
    top:130px;
    left:60px;

}*/
#vertical-line {
  background-color: rgb(71, 69, 69);
  height: 120px;
  width: 3px;
  position: absolute;
  left: 170px;
  top: 100px;
  border-radius: 30%;
}
#ll1 {
  height: 1.5px;
  width: 80px;
  background-color: black;
  position: absolute;
  top: 140px;
}
#ll2 {
  height: 1.5px;
  width: 80px;
  background-color: black;
  position: absolute;
  top: 100px;
  transform: rotate(20deg);
}
#ll3 {
  height: 1.5px;
  width: 80px;
  background-color: black;
  position: absolute;
  top: 180px;
  transform: rotate(-20deg);
}
#leftm > #ll3 {
  transform: rotate(20deg);
  position: absolute;
  left: 260px;
}
#leftm > #ll2 {
  transform: rotate(-20deg);
  position: absolute;
  left: 260px;
}
#leftm > #ll1 {
  position: absolute;
  left: 260px;
}

.eye {
  background-color: aliceblue;
  height: 120px;
  width: 90px;
  border-radius: 50%;
  border: 2px solid black;
}

.right {
  position: relative;
  left: 200px;
  top: 20px;
}
#r1 {
  height: 50px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  left: 10px;
  top: 40px;
}
#small {
  color: aliceblue;
  font-size: 13px;
  background-color: aliceblue;
  height: 20;
  width: 20;
  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: 14px;
}
#r1 > #small {
  position: absolute;
  left: 9px;
}
#l1 {
  height: 50px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  left: 45px;
  top: 40px;
}
.left {
  position: relative;
  left: 107px;
  bottom: 100px;
}
#nose {
  height: 45px;
  width: 45px;
  background-color: rgb(216, 48, 48);
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  left: 10px;
  bottom: 203px;
  left: 175px;
}
#mouth {
  height: 65px;
  width: 63px;
  background-color: rgb(244, 69, 69);
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  left: 170px;
  bottom: 25px;
  /*box-shadow: 10px 10px 10px rgb(129, 23, 23);*/
}
.body {
  background-color: rgb(15, 99, 173);
  height: 400px;
  width: 400px;
  border-radius: 35%;
  position: absolute;
  top: 420px;
  left: 400px;
  z-index: -3;
}
/*07/1023*/
/*08/10/23*/
#innerbody {
  background-color: aliceblue;
  height: 250px;
  width: 250px;
  border-radius: 49%;
  position: absolute;
  top: 16px;
  left: 83px;
}
#ribbon {
  background-color: rgb(236, 38, 38);
  height: 120px;
  width: 250px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  left: 76px;

  bottom: 350px;
  transform: rotate();
}
#box {
  background-color: rgb(123, 208, 232);
  /*border: 2px solid black;*/
  height: 300px;
  width: 700px;
  position: relative;
  left: 200px;
  top: 400px;
}
#bell {
  background-color: yellow;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  left: 180px;
  top: 32px;
  animation: bellblink 0.5s ease-in 0s infinite normal;
}
@keyframes bellblink {
  from {
    background-color: yellow;
  }
  to {
    background-color: goldenrod;
  }
}
#sc {
  background-color: black;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  position: absolute;
  left: 18px;
  top: 40px;
}
#line {
  height: 8px;
  width: 57px;
  border-radius: 20%;
  border: 2px solid black;
  position: absolute;
  top: 20px;
}
#bline {
  height: 1.5px;
  width: 13px;
  background-color: black;
  position: absolute;
  top: 30px;
  left: 22px;
  transform: rotate(90deg);
}
/*.heart{
    background-color: rgb(237, 105, 105);
    height:90px;
    width:100px;
    transform:rotate(-45deg);
    margin-top: 30px;

}*/
.heart {
  position: relative;
  width: 100px;
  height: 99px;
  background-color: rgb(226, 0, 0);
  transform: rotate(-45deg);
  margin: 45px;
}
.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgb(226, 0, 0);
  border-radius: 50%;
}
.heart::before {
  top: -50px;
  left: 0;
}

.heart::after {
  top: 0;
  left: 50px;
}
